conf/
!/common/src/main/java/eu/leads/processor/conf
!/common/src/main/resources/conf
*.iml
.idea/
.project
.pydevproject
.classpath
*.log.*
*.log
target/
.settings/
*.pyc
/nqe/system-plugins/adidas-processing-plugin/resources/
logs/
